<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>how many days since</title>
  <meta name="description" content="how many days since">
  <meta name="author" content="github.com/itsmethemojo">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
  <!-- css_block -->
  </style>
</head>

<body>
  <section>
    <table>
      <tr>
        <td>
          choose a date
        </td>
      </tr>
      <tr>
        <td>
          <input id="hmds_date" name="hmds_date" type="date" value=""/>
        </td>
      </tr>
      <tr>
        <td>
          fill in text (how many days since ... )
        </td>
      </tr>
      <tr>
        <td>
          <input id="hmds_text" name="hmds_text" type="text" value=""/>
        </td>
      </tr>
      <tr>
        <td>
          <input id="hmds_create" name="hmds_create" type="button" value="create your custom how many days since page"/>
        </td>
      </tr>
    </table>
  </section>
  <script>
  <!-- js_block -->
  </script>
</body>
</html>
