<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>how many days since</title>
  <meta name="description" content="how many days since">
  <meta name="author" content="github.com/itsmethemojo">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
  <!-- css_block -->
  </style>
</head>

<body>
  <section>
    <div class="center">
      <div id="line_header" class="xxlarge">
        how many days since
      </div>
      <div id="line_text" class="xxlarge">
        &nbsp;
      </div>
      <div id="line_days" class="xxxlarge">
        &nbsp;
      </div>
      <div id="line_new" class="xxsmall">
        <a href="create.html">
        create new
        </a>
      </div>
    </div>
  </section>
  <script>
  <!-- js_block -->
  </script>
</body>
</html>
